<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moodlogger">

    <!-- for latitude / longitude storing -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- for reminder notifications -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/WelcomeTheme"
            android:label="@string/welcome" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddMoodLogActivity"
            android:label="@string/add_mood_log"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddActivityActivity"
            android:label="@string/add_activity"
            android:parentActivityName=".activities.AddMoodLogActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CustomiseActivity"
            android:label="@string/customise"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.SettingsActivity" />

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true" />
        <service android:name=".ReminderNotificationService" />
    </application>

</manifest>